.cell {
  height: 12.5%;
  aspect-ratio: 1/1;

  &.white {
    background-color: #ffffff;
  }

  &.black {
    background-color: #000000;
  }

  &.cell-selected {
    border: #57ff3a 3px solid;
  }
}
